<section class="header_text sub">
	<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products">
	<h4><span>Giỏ hàng</span></h4>
</section>
<section class="main-content">
	<div class="row">
		<div class="span9">
			<h4 class="title"><span class="text"><strong>Giỏ hàng</strong> của bạn</span></h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Bỏ chọn</th>
						<th>Hình minh họa</th>
						<th>Tên sản phẩm</th>
						<th>Số lượng</th>
						<th>Đơn giá</th>
						<th>Tổng cộng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" value="option1"></td>
						<td><a href="product_detail.html"><img alt="" src="themes/images/ladies/9.jpg"></a></td>
						<td>Áo thun tay dài</td>
						<td><input type="text" placeholder="1" class="input-mini"></td>
						<td>200.000đ</td>
						<td>200.000đ</td>
					</tr>
					<tr>
						<td><input type="checkbox" value="option1"></td>
						<td><a href="product_detail.html"><img alt="" src="themes/images/ladies/1.jpg"></a></td>
						<td>Đầm chấm bi</td>
						<td><input type="text" placeholder="2" class="input-mini"></td>
						<td>190.000đ</td>
						<td>380.000đ</td>
					</tr>
					<tr>
						<td><input type="checkbox" value="option1"></td>
						<td><a href="product_detail.html"><img alt="" src="themes/images/ladies/3.jpg"></a></td>
						<td>Đầm ôm</td>
						<td><input type="text" placeholder="1" class="input-mini"></td>
						<td>200.000đ</td>
						<td>200.000đ</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><strong>780.000đ</strong></td>
					</tr>
				</tbody>
			</table>
			<h4>Mời bạn chọn ưu đãi</h4>
			<p>Hãy chọn mã giảm giá hoặc điểm thưởng mà bạn đang có để đánh giá chi phí vận chuyển.</p>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
				Sử dụng mã giảm giá
			</label>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				Đánh giá chi phí vận chuyển
			</label>
			<hr>
			<p class="cart-total right">
				<strong>Chi phí sản phẩm</strong>: 780.000đ<br>
				<strong>Thuế GTGT (17.5%)</strong>: 122.500đ<br>
				<strong>Chi phí tổng cộng</strong>: 902.500đ<br>
			</p>
			<hr />
			<p class="buttons center">
				<button class="btn" type="button">Cập nhật</button>
				<button class="btn" type="button">Tiếp tục</button>
				<button class="btn btn-inverse" type="submit" id="checkout">Thanh toán</button>
			</p>
		</div>
		<div class="span3 col">
			<div class="block">
				<ul class="nav nav-list">
					<li class="nav-header">Phân loại chi tiết</li>
					<li><a href="products">Nullam semper elementum</a></li>
					<li class="active"><a href="products.html">Phasellus ultricies</a></li>
					<li><a href="products">Donec laoreet dui</a></li>
					<li><a href="products">Nullam semper elementum</a></li>
					<li><a href="products">Phasellus ultricies</a></li>
					<li><a href="products">Donec laoreet dui</a></li>
				</ul>
				<br />
				<ul class="nav nav-list below">
					<li class="nav-header">Thương hiệu</li>
					<li><a href="products">Adidas</a></li>
					<li><a href="products">Nike</a></li>
					<li><a href="products">Dunlop</a></li>
					<li><a href="products">Yamaha</a></li>
				</ul>
			</div>
			<div class="block">
				<h4 class="title">
					<span class="pull-left"><span class="text">Randomize</span></span>
					<span class="pull-right">
						<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button"
							href="#myCarousel" data-slide="next"></a>
					</span>
				</h4>
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="active item">
							<ul class="thumbnails listing-products">
								<li class="span3">
									<div class="product-box">
										<span class="sale_tag"></span>
										<a href="product_detail.html"><img alt=""
												src="themes/images/ladies/2.jpg"></a><br />
										<a href="product_detail.html" class="title">Đầm hoa văn</a><br />
										<a href="#" class="category">Đồ công sở</a>
										<p class="price">200.000đ</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="item">
							<ul class="thumbnails listing-products">
								<li class="span3">
									<div class="product-box">
										<a href="product_detail.html"><img alt=""
												src="themes/images/ladies/4.jpg"></a><br />
										<a href="product_detail.html" class="title">Áo thun tay dài</a><br />
										<a href="#" class="category">Đồ vui chơi</a>
										<p class="price">195.000đ</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--<script src="themes/js/common.js"></script>-->
<script>
	$(document).ready(function () {
		$('#checkout').click(function (e) {
			document.location.href = "checkout.html";
		})
	});
</script>