<section class="header_text sub">
	<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products">
	<h4><span>Thanh Toán</span></h4>
</section>
<section class="main-content">
	<div class="row">
		<div class="span12">
			<div class="accordion" id="accordion2">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
							href="#collapseOne">Tùy chọn thanh toán</a>
					</div>
					<div id="collapseOne" class="accordion-body in collapse">
						<div class="accordion-inner">
							<div class="row-fluid">
								<div class="span6">
									<h4>Khách hàng mới</h4>
									<p>Để việc mua sắm nhanh hơn vui lòng tạo tài khoản cá nhân, cập nhật đều đặn trạng thái đơn hàng, 
										và lưu giữ các đơn hàng mà bạn đã đặt trước đó.</p>
									<form action="#" method="post">
										<fieldset>
											<label class="radio" for="register">
												<input type="radio" name="account" value="register" id="register"
													checked="checked">Thanh toán bằng tài khoản
											</label>
											<label class="radio" for="guest">
												<input type="radio" name="account" value="guest" id="guest">Thanh toán đơn giản
											</label>
											<br>
											<button class="btn btn-inverse" data-toggle="collapse"
												data-parent="#collapse2">Tiếp tục</button>
										</fieldset>
									</form>
								</div>
								<div class="span6">
									<h4>Khách hàng thân thuộc</h4>
									<form action="#" method="post">
										<fieldset>
											<div class="control-group">
												<label class="control-label">Tên người dùng</label>
												<div class="controls">
													<input type="text" placeholder="Nhập tên người dùng" id="username"
														class="input-xlarge">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label">Mật khẩu</label>
												<div class="controls">
													<input type="password" placeholder="Nhập mật khẩu"
														id="password" class="input-xlarge">
												</div>
											</div>
											<button class="btn btn-inverse">Tiếp tục</button>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
							href="#collapseTwo">Chi tiết tài khoản &amp; hóa đơn</a>
					</div>
					<div id="collapseTwo" class="accordion-body collapse">
						<div class="accordion-inner">
							<div class="row-fluid">
								<div class="span6">
									<h4>Thông tin cá nhân chi tiết</h4>
									<div class="control-group">
										<label class="control-label">Họ</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Tên</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Địa chỉ Email</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Số điện thoại</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Số Fax</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
								</div>
								<div class="span6">
									<h4>Thông tin địa chỉ</h4>
									<div class="control-group">
										<label class="control-label">Công ty</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">ID công ty:</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"><span class="required">*</span> Địa chỉ 1:</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Địa chỉ 2:</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"><span class="required">*</span> Thành phố:</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"><span class="required">*</span> Mã thư từ:</label>
										<div class="controls">
											<input type="text" placeholder="" class="input-xlarge">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"><span class="required">*</span> Quốc gia:</label>
										<div class="controls">
											<select class="input-xlarge">
												<option value="1">Afghanistan</option>
												<option value="2">Albania</option>
												<option value="3">Algeria</option>
												<option value="4">American Samoa</option>
												<option value="5">Andorra</option>
												<option value="6">Angola</option>
												<option value="7">Bulgary</option>
												<option value="8">Congo</option>
												<option value="9">Cambodia</option>
												<option value="10">Denmark</option>
												<option value="11">Dominica</option>
												<option value="12">Ecuador</option>
												<option value="13">Egypt</option>
												<option value="14">Viet Nam</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
							href="#collapseThree">Xác nhận đơn hàng</a>
					</div>
					<div id="collapseThree" class="accordion-body collapse">
						<div class="accordion-inner">
							<div class="row-fluid">
								<div class="control-group">
									<label for="textarea" class="control-label">Ghi chú / Phản hồi</label>
									<div class="controls">
										<textarea rows="3" id="textarea" class="span12"></textarea>
									</div>
								</div>
								<button class="btn btn-inverse pull-right">Xác nhận</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>