<section class="header_text sub">
	<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products">
	<h4><span>Đăng ký</span></h4>
</section>
<section class="main-content">
	<div class="row">
		
		<div class="span7">
			<h4 class="title"><span class="text"><strong>Đăng ký</strong></span></h4>
			<form action="/register" method="POST" class="form-stacked">
				<fieldset>
					<div class="control-group">
						<label class="control-label">Tên đầy đủ</label>
						<div class="controls">
							<input type="text" name="name" placeholder="Nhập họ và tên" class="input-xlarge">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Địa chỉ Email:</label>
						<div class="controls">
							<input type="text" name="email" placeholder="Nhập địa chỉ Email" class="input-xlarge">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Tên đăng nhập</label>
						<div class="controls">
							<input type="text" name="username" placeholder="Nhập tên đăng nhập" class="input-xlarge">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Mật khẩu:</label>
						<div class="controls">
							<input type="password" name="password" placeholder="Nhập mật khẩu" class="input-xlarge">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Xác nhận mật khẩu:</label>
						<div class="controls">
							<input type="password" name="password2" placeholder="Nhập lại mật khẩu" class="input-xlarge">
						</div>
					</div>
					<hr>
					<div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit"
							value="Submit"></div>
				</fieldset>
			</form>
		</div>
	</div>
</section>

<!--<script src="themes/js/common.js"></script>-->
<script>
	$(document).ready(function () {
		$('#checkout').click(function (e) {
			document.location.href = "checkout.html";
		})
	});
</script>